.app.dark {
  --bg-color: rgb(60, 60, 72);
  --inverted-bg-color: rgb(190, 196, 226);

  --primary-color: rgb(0, 167, 0);
  --secondary-color: green;

  --inverted-primary-color: rgb(40, 41, 37);
  --inverted-secondary-color: rgb(22, 32, 22);
}
